<div class="ui list">
	<div class="item">Městská část : <b>{{ object.mestska_cast|default:"" }}</b></div>
	<div class="item">Část obce : <b>{{ object.cast_obce|default:"" }}</b></div>
	<div class="item">Č.o. : <b>{{ object.co|default:"" }}</b></div>
	<div class="item">PSČ : <b>{{ object.psc|default:"" }}</b></div>
	<div class="item">Číslo obce : <b>{{ object.cislo_obce|default:"" }}</b></div>
	<div class="item">Kraj : <b>{{ object.kraj|default:"" }}</b></div>
	<div class="item">Typ činnosti* : <b>{{ object.typ_cinnosti|default:"" }}</b></div>
	<div class="item">IČ : <b>{{ object.ic|default:"" }}</b></div>
	<div class="item">Vyrobní číslo : <b>{{ object.vyrobni_cislo|default:"" }}</b></div>	
</div>