{% if query %}
	{% if not page_obj.object_list %}
		<h4 class="ui header">No results found.</h4>
	{% else %}
		<table class="ui selectable compact sortable striped table">
			<thead>
				<tr>
					<th data-sort="int">№</th>
					<th data-sort="string">Obec</th>
					<th data-sort="string">Ulice</th>
					<th data-sort="int">Č.p.</th>
					<th data-sort="string">Provozovatel</th>
					<th>Povoleno do</th>
				</tr>
			</thead>
			<tbody>
				{% for result in page_obj.object_list %}
					<tr class="link" href="{% url "herna:detail" result.pk %}" object-id="{{ result.pk }}">
						<td>{{ forloop.counter }}</td>
						<td>{{ result.obec|default:"" }}</td>
						<td>{{ result.ulice|default:"" }}</td>
						<td>{{ result.cp|default:"" }}</td>
						<td>{{ result.provozovatel|default:"" }}</td>
						<td>{{ result.povoleno_do|default:"" }}</td>
					</tr>
					<tr hidden="hidden">
						<td colspan="5" object-address="casino-{{ result.pk }}">
							{{ result.obec }}, {{ result.ulice }} {{ result.cp }}, {{ result.psc }}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		{% if page_obj.has_previous or page_obj.has_next %}
			<div class="ui pagination menu">
				{% if page_obj.has_previous %}
					<a href="{% url "herna:search" %}?q={{ query }}&amp;page={{ page_obj.previous_page_number }}" class="item">Previous</a>
				{% endif %}
				{% if page_obj.has_next %}
					<a href="{% url "herna:search" %}?q={{ query }}&amp;page={{ page_obj.next_page_number }}" class="item">
					Next</a>
				{% endif %}
			</div>
		{% endif %}
	{% endif %}
{% else %}
	Please provide name or something.
{% endif %}