{% load staticfiles %}
{% load help_tags %}

<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="{% static "semantic/semantic.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">
</head>
<body>
	<p></p>
	<div class="ui grid container">
		<div class="row">
			<div class="column">
				<form class="ui form" action="{% url "herna:search" %}" method="post" id="search_form">
					{% csrf_token %}
					<div class="ui action input">
						<input id="id_q" name="q" type="search" placeholder="Search...">
						<button class="ui blue button" id="search">Search</button>
					</div>
				</form>
			</div>
		</div>
		<div class="equal width row">
			<div class="column">
				<h4 class="ui green header">Results</h4>
				<div class="ui list results"></div>
			</div>
			<div class="column">
				<h4 class="ui blue header">Detail</h4>
				<div class="detail"></div>
				<p></p>
				<div class="map"></div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="{% static "js/jquery-3.0.0.js" %}"></script>
	<script type="text/javascript" src="{% static "js/tablesort.js" %}"></script>
	<script type="text/javascript" src="{% static "semantic/semantic.js" %}"></script>
	<script type="text/javascript" src="{% static "js/api.js" %}"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key={% google_api_key %}" async defer></script>
</body>
</html>